.ExaminationView {
    border: 1px solid black;
    max-width: 50rem;
    padding: 0.5rem;
}

.Header {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0 0 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.ExaminationOptionList {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-auto-rows: max-content;
    margin: 0.5rem;
}

.ExaminationOptionWrapper {
  height: 100%;
}

.Findings {
    max-height: 30rem;
    overflow-y: auto;
}
