.ExaminationView {
    border: 1px solid black;
    min-width: fit-content;
    padding: 0.5rem;
}

.Header {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem 0 0 0.5rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.ExaminationOptionList {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-auto-rows: max-content;
    margin: 0.5rem;
}

.ExaminationOptionWrapper {
  height: 100%;
}

.Findings {
    max-height: 30rem;
    overflow-y: auto;

    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-gap: 1rem;

}

.Finding {
  border: 1px solid #aaa;
  padding: 1rem;
}

.Finding__Metadata {
  text-align: center;
}

.Finding__Result {
  text-align: center;
}
