.PointsView {
    display: grid;
    grid-template-columns: auto 1fr;
    border: 1px solid #777;
    max-width: 20rem;
    font-size: 25pt;
}

.PointsView div {
    padding: 5px;
}

.PointsView div.Header {
    background-color: #ccc;
    padding-right: 2rem;
}