.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-areas: "person examinations examinations" "points filler done";
  grid-template-columns: 1fr 2fr auto;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;

  padding: 2rem;
}

.PersonContainer {
  grid-area: person;
  max-height: 100%;
  min-height: 0;
}

.ExaminationContainer {
  grid-area: examinations;
}

.DoneButtonContainer {
  grid-area: done;
}

.PointsContainer {
  grid-area: points;
}
