.App {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.PersonContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerPersonContainer {
  width: 25%;
}

.ExaminationContainer {
  flex: 1;
}

.DoneButtonContainer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 10rem;
  height: 5rem;
}

.PointsContainer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
